@import "../../sass/library/_colors.sass"
@import "../../sass/library/_fonts.sass"

.monthButton
  color: white
  width: 10rem
  height: 3rem
  margin-right: 1rem

  border-radius: 5px
  border: none
  font-size: $button-font-size
  font-weight: regular
  font-family: $button-font-size
  cursor: pointer
  transition: all 0.3s ease-in-out
  background-color: $blau-color
  &:hover
    background-color: white
    color: $blau-color
    border: 1px solid $blau-color

    transform: translateY(-4px)
  &:focus
    outline: none

  &:active
  @media screen and (max-width: 768px)
    font-size: $button-font-size * 0.8
    width: 7rem
    height: 3rem

    //background-color: $tertiary-color
