@import "./_colors"
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Roboto&family=Roboto+Condensed&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,900;1,900&family=Zilla+Slab:wght@300;400;500;600;700&display=swap')

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap')
//$body-font-family: Zilla Slab, sans-serif
$body-font-family: Zilla Slab, sans-serif
$body-font-size: 1.2rem
$body-font-weight: 400
$body-line-height: 30
$body-color: body-color

$deco-font-family: Playfair Display,Oleo Script, cursive
$deco-font-weight: 900

$h1-font-family: Nunito, Roboto, sans-serif
$h1-font-size: 2rem
$h1-font-weight: 400

$button-font-family: $h1-font-family
$button-font-size: 1.2rem
