@import "../sass/library/_colors"
@import "../sass/library/_fonts"

.fruiteEmissionGraph
    height: 100%
    width: 100%
    padding: 0
    overflow: visible

.bar
    fill: lighten($secondary-color, 10%)
    stroke-width: 1px

    &:hover
        //Lighten the color

        //fill: lighten($secondary-color, 10%)
        fill: $blau-color

.title
    font-size: 1.3rem
    font-family: $h1-font-family

.xAxis
    font-size: 1.8em
    font-family: $h1-font-family
    font-weight: regular
    fill: $h1-color

    transform: rotate(-30deg) translate(-20px, 5px)
.yAxis
    font-size: 1.8em
    font-family: $h1-font-family
    font-weight: regular
    fill: $h1-color
