@import "../sass/library/_colors"
@import "../sass/library/_fonts"
.infoGraphic
    position: relative
    height: 100%
    width: 100%
    //background-color: $primary-color
    display: flex
    flex-direction: column
    //align-items: right
    padding: 1.5rem 1rem

    @media screen and (max-width: 1200px)
        padding: 0.5rem
    @media screen and (max-height: 700px)
        padding: 0.5rem

.infoGraphic__title
    text-align: center
    font-size: 3rem
    font-family: $saiso-deco-font-family
    color: #fff

    @media screen and (max-width: 1200px)
        font-size: 2.5rem
    @media screen and (max-height: 700px)
        font-size: 2rem

.infoGraphic__content__text
    text-justify: inter-word
    font-size: 1rem
    font-family: $body-font-family
    color: #fff
    padding: 2rem

    @media screen and (max-width: 1400px)
        font-size: .7rem
        padding: 0rem
    @media screen and (max-height: 700px)
        font-size: .7rem
        padding: 0rem

.infoGraphic__content__image
    display: block
    margin: 0 auto
    width: 35%
    object-position: center
    border-radius: 50%

.carContainer
    width: 100%
    position: relative
    margin-bottom: auto

    align-items: center
    justify-content: center
    padding: 0 4rem
    padding-bottom: 0

    img

        display: block
        width: 200px
        position: relative
        left: -4rem
    

.track
    position: relative
    top: -2rem
    height: 2rem

.greenTrack
    width: 0%
    height: 100%
    position: relative

    background-color: #0fa
