@import "../sass/library/_colors"
@import "../sass/library/_fonts"

.landingPageEnd
    width: 100%
    max-width: 100vw
    height: 75vh
    padding: 80px

    @media screen and (max-width: 768px)
        padding: 1rem

.landingPageEnd__content
    width: 100%
    height: 100%
    display: flex
    flex-direction: row

    @media screen and (max-width: 768px)
        flex-direction: column

.landingPageEnd_imageContainer
    width: 50%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    @media screen and (max-width: 768px)
        width: 100%
        height: 400px

.landingPageEnd_imageContainer__image
    display: block
    width: 100%
    height: 80%

    background-image: url(../images/baum.png)
    background-size: cover
    background-position: center top

    @media screen and (max-width: 768px)
        height: 100%
        width: 100%

.landingPageEnd__content__text
    width: 50%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center

    padding-left: 5rem

    @media screen and (max-width: 768px)
        padding-left: 0
        width: 100%
        text-align: justify

.landingPageEnd__content__text__title
    font-size: 1.6rem
    font-family: $h1-font-family
    color: #000
    width: 50%
    @media screen and (max-width: 1200px)
        width: 100%

    @media screen and (max-width: 768px)
        width: 100%

.landingPageEnd__content__text__paragraph
    font-size: $body-font-size
    font-family: $body-font-family
    font-weight: $body-font-weight
    color: #000
    width: 100%
    padding-top: 2rem
