.App
  margin: 0 5rem

  display: flex
  flex-direction: column
  align-items: center
  background-color: white

.App-header
  text-align: center
  background-color: #222
  color: white
  padding: 1rem
  border-radius: 5px 5px 0 0

  font-size: 3rem

.GiphyContainer

  width: 100%
  padding-bottom: 45%
  position: relative

.giphyCredit
  a
    color: #aaa

    font-size: 1rem
